<section class="social-media">
	<a class="social-media-icon" href="https://twitter.com/iamjohnhult" target="_blank">
		<img class="svg twitter-icon" src="res/img/icons/twitter-long.svg">
	</a>
	<a class="social-media-icon" href="https://instagram.com/iamjohnhult" target="_blank">
		<img class="svg insta-icon" src="res/img/icons/instagram-long.svg">
	</a>
	<a class="social-media-icon" href="https://behance.net/iamjohnhult" target="_blank">
		<img class="svg behance-icon" src="res/img/icons/behance-long.svg">
	</a>
	<a class="social-media-icon" href="https://www.linkedin.com/in/iamjohnhult/" target="_blank">
		<img class="svg linkedin-icon" src="res/img/icons/linkedin-long.svg">
	</a>
	<a class="social-media-icon" href="/res/docs/john-cv.pdf" download="john-cv">
		<img class="svg cv-icon" src="res/img/icons/cv-long.svg">
	</a>
</section>