<div class="work-content-wrapper content-child">
	<div class="work-nav-wrapper">
		<div class="prev-btn">Prev</div>
		<div class="next-btn">Next</div>
	</div>
	<div class="inner-flex-wrap p-r">
		<div class="work-box adclouds-work">
			<span class="work-role">Lead Designer at Adclouds</span>
			<p class="work-text">2 years. Platform for online advertising. Increasing revenue through testing.</p>
			<ul class="work-tags">
				<li>#sketch</li>
				<li>#illustrator</li>
				<li>#html</li>
				<li>#css</li>
				<li>#javascript</li>
				<li>#angular</li>
			</ul>
			<a href="/work/adclouds">LEARN MORE</a>
		</div>
		<div class="work-box gbgstartup-work">
			<span class="work-role">Web Design for Gbg Startup Hack</span>
			<p class="work-text">Project. Responsible for website. Hackathon. For coders to get in touch with startup companies.</p>
			<ul class="work-tags">
				<li>#html</li>
				<li>#css</li>
				<li>#javascript</li>
			</ul>
			<a href="/work/gbgstartup">LEARN MORE</a>
		</div>
		<div class="work-box gleeson-work">
			<span class="work-role">Web Design</span>
			<p class="work-text">Project. Worked closely together with Gleeson. Furniture and Architectural designer showcase website.</p>
			<ul class="work-tags">
				<li>#html</li>
				<li>#css</li>
				<li>#javascript</li>
			</ul>
			<a href="/work/gleeson">LEARN MORE</a>
		</div>
	</div>
</div>