<div class="work-content-wrapper content-child">
	<div class="follow-mouse-wrapper p-r">
		<div class="work-box adclouds-work">
			<span class="work-role">Lead Designer at Adclouds</span>
			<p class="work-text">2 years. Platform for online advertising. Increasing revenue through testing.</p>
			<ul class="work-tags">
				<li>#sketch</li>
				<li>#illustrator</li>
				<li>#html</li>
				<li>#css</li>
				<li>#javascript</li>
				<li>#angular</li>
			</ul>
			<a class="more-btn" href="/work/adclouds" data-navigo>LEARN MORE</a>
		</div>
		<div class="work-box gleeson-work">
			<span class="work-role">Web Design for Gleeson Design</span>
			<p class="work-text">Project. Worked closely together with client. Furniture and Architectural designer showcase website.</p>
			<ul class="work-tags">
				<li>#html</li>
				<li>#css</li>
				<li>#javascript</li>
				<li>#node</li>
			</ul>
			<a class="more-btn" href="/work/gleeson" data-navigo>LEARN MORE</a>
		</div>
		<div class="work-box gbgstartup-work">
			<span class="work-role">Web Design for Gbg Startup Hack</span>
			<p class="work-text">Project. Responsible for website. Hackathon. For coders to get in touch with startup companies.</p>
			<ul class="work-tags">
				<li>#html</li>
				<li>#css</li>
				<li>#javascript</li>
				<li>#node</li>
			</ul>
			<a class="more-btn" href="/work/gbgstartup" data-navigo>LEARN MORE</a>
		</div>
		<div class="work-box enfo-work">
			<span class="work-role">Web Design & App Prototyping</span>
			<p class="work-text">Project. Created logo, website and responsive demo application for the concept "nyttigaappar".</p>
			<ul class="work-tags">
				<li>#html</li>
				<li>#css</li>
				<li>#javascript</li>
				<li>#illustrator</li>
				<li>#node</li>
			</ul>
			<a class="more-btn" href="/work/enfo" data-navigo>LEARN MORE</a>
		</div>
	</div>
</div>