.home-content-wrapper {
	span, p {
		font-size: 1.8rem;
	}
	.follow-mouse-wrapper {
		perspective: 1000px;
		transform-style: preserve-3d;
	}
	.bigass-header {
		display: block;
		font-size: 7rem;
		font-weight: 900;
		text-shadow: 0 4px 10px rgba(black, 0.8);
		transform: translateZ(50px);
	}
	.add-underline {
		font-size: inherit;
		background-position: 0 1.2em;
		background-size: 1.2rem 1.2rem;
		background-repeat: repeat-x;
		background-image: linear-gradient(to bottom, transparent 50%, $c3 50%);
	}
	.second-ticker {
		width: 105px;
		display: inline-block;
		text-align: center;
	}
}