.roll-wrap {
	height: $section-height;
	width: 100vw;
	perspective: 1000px;
	.rolling {
		transition: 1s;
		width: 100vw;
		height: $section-height;
		transform-style: preserve-3d;
		transform: translateZ(-50vw);

		.front  	{ transform: 				  translateZ(50vw)	; }
		.about  	{ transform: rotateY( 90deg)  translateZ(50vw) 	; }
		.projects  	{ transform: rotateY( 180deg) translateZ(50vw)	; }
		.art  		{ transform: rotateY(-90deg)  translateZ(50vw)	; }
		.contact 	{ transform: rotateX(-90deg)  translateZ(100vw)	; }
	}
}