[role="navigation"] {
	margin: auto;
	height: $header-height;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		height: $header-height;
		position: relative;

		img {
			max-height: $header-height;
			width: auto;
		}

		a {
			float: left;
			height: 100%;
			width: 10vw;
			text-align: center;
		}
		a:hover {
			text-decoration: none;
		}
		.front-nav:hover {
			img {
				animation: shakeIt 1s linear 1 forwards;
			}
		}

		li {
			@include vertical-align;
			font-size: 1.2em;
			z-index: 1;
		}
		.overlay {
			transition: 0.2s;
			background-color: $color2;
			height: 0;
			width: 10vw;
			position: absolute;
			top: 0;
		}
		a:hover {
			.overlay {
				height: 100%;
			}
		}
	}
	@keyframes shakeIt {
		10%  {transform: rotate(30deg);}
		40%  {transform: rotate(-30deg);}
		75%  {transform: rotate(15deg);}
		100% {transform: rotate(0deg);}
	}
}
