<div class="overlay-inner-content">
	<div class="work-content">
		<h1>Lead Designer at Adclouds</h1>
		<h2>2 years work focusing on idea generation, mockups, sketches, prototyping and implementation.</h2>
		<p>Adclouds is a platform for online advertising. Everything from creating ads in the ad editor, managing them in a "Google Drive"-type of file storage, and testing the ads is possible. I worked across all areas of the product and often formed ideas and sketches from functionality requested by stakeholders. After iterating over the prototypes I implemented the designs.</p>
		<p>The platform was built in Angular2. I worked closely together with the frontend development team and were a key person in specifing new features derived from the ideas of our stakeholders or feedback from customers. Balsamiq used for mockups, Sketch for prototypes, and Illustrator and Photoshop for icons and artwork.</p>
		<a class="link-work" href="http://app.adclouds.io" target="_blank">adclouds.io</a>
	</div>
</div>