<div class="overlay-inner-content">
	<div class="work-content">
		<h1>Creating a demo website for the concept "nyttiga appar".</h1>
		<h2>Logo design, website creation, and demo application for mobiles were all a part of this project.</h2>
		<p>Worked together with a collegaue and built a website and demo application based on the idea of "nyttiga appar". This is a concept created by Enfo to "create apps without friction", mostly directed at companies the needs a solution for creating an app.</p>
		<p>This was a Node project and used grunt for this one. jQuery/js for code. Illustrator for logo design.</p>
		<a class="link-work" href="http://nyttigaappar.se" target="_blank">"nyttiga appar"</a>
	</div>
</div>