<div class="overlay-inner-content">
	<div class="work-content">
		<h1>Webmastaaah of Gothenburg Startup Hack.</h1>
		<h2>It's an amazing hack. The year I was a part of the hack we arranged the hack on a boat in Gothenburgs archipelago.</h2>
		<p>Gothenburg Startup Hack is basically a hackathon created in order to put skilled developers, designers, and visionaries in contact with startup companies in Gothenburg. There are also events such as meetups, lectures, and parties revolving around the hack and #gbgtechweek. The website itself functions as a portal for signing up for events and posting information about the hack.</p>
		<p>The hack is arranged with people from the Spotify Street Team and Spotify has been one of the main sponsor multiple years.</p>
		<p>Worked together with a friend in the team even though he had other responsibilities. This led to me having most of the responsibility as well as doing most of the development of the website while he was talking to companies.</p>
		<p>Another Node project. Used gulp for my workflow for this one as well. Once again it was mostly jQuery and javascript. Used a combination of both Illustrator and Photoshop for some of the artwork created.</p>
		<a class="link-work" href="http://gbgstartuphack.com" target="_blank">GBGSTARTUPHACK</a>
		<span class="extra-link-info">P.S. Updated with changes I haven't been part of. Check it out if you're interested in the hack.</span>
	</div>
</div>