<div class="overlay-inner-content">
	<div class="work-content">
		<h1>Portfolio Website for Furniture/Architectural Designer.</h1>
		<h2>Worked closely with client in order to create a showcase for his work.</h2>
		<p>Created in close co-operation with Gleeson that, as a designer himself, had lots of ideas and suggestions for the look and feel of his portfolio. Working from my prototypes we iterated many times over to reach a point we both felt happy with. A lot of focus on details.</p>
		<p>Single page application implemented with Node. Mostly jQuery and vanilla js. Used gulp for creating a smooth workflow.</p>
		<a class="link-work" href="http://gleesondesign.se" target="_blank">Gleeson Design</a>
	</div>
</div>