/*
Vertical align
*/
@mixin vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
/*
Horizontal align
*/
@mixin horizontal-align {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/*
clearfix
*/
@mixin clearfix {
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}